<article class="list">
    <div>
        <img src={{this.book.image}} alt="">
        <h3>{{this.book.title}}</h3>
        <div class="list-group-item">
            <span>Writer:</span> {{this.book.author}}
        </div>
        <div class="list-group-item">
            <span>Description:</span> {{this.book.description}}
        </div>
    </div>
</article>