<article class="list">
    <div>
        <img src={{image}} alt="">
        <h3>{{title}}</h3>
        <div class="list-group-item">
            <span>Writer:</span> {{author}}
        </div>
        <div class="list-group-item">
            <span>Description:</span> {{description}}
        </div>
    </div>
</article>