
@import "ember-bootstrap/bootstrap";

html, body {height:100%; width: 100%; overflow: auto;}
body {text-align:center; vertical-align:middle;}
img {
    width: 20em;
    height: 25em;
}
.app-body {
    width: 100%;
    height: 100%;
}
.nav {
    display: block;
}
.navbar {
    width: 100%;
}
.nav-item {
    display: table-cell;
}
.route-link, a:hover {
    color: white;
    text-decoration: none;
}
.about, .home-page {
    height:100%;
    padding-top: 3em;
}
.slide-show {
    display: block;
    margin: auto;
    padding: 2em;
}
.add-article {
    padding: 5em;
    margin: auto;
    max-width: 30em;
}
.book-list {
    margin: auto;
    padding: 5em;
}
.book {
    display: table-cell;
    max-width: 30em;
    max-height: 10em;
}