<div class="about">
  <div class="about-text"></div>
  <h2>About summaryofbooks</h2>
  <p>
    summaryofbooks is a website where we share summaries<br>of all the books we have read,
    to be able to remind ourselves<br>things we've learned or experienced reading.
  </p>
</div>