<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About summaryofbooks</h2>
  <p>
    summaryofbooks is a website where we share summaries of all the books we have read,
    to be able to remind ourselves things we've learned or experienced reading.
  </p>
  {{#link-to "index" class="button"}}
    Home
  {{/link-to}}
</div>